### Import libraries and datasets

In [127]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [128]:
#Create project folder path
path=r'C:\Users\Bori\Documents\Careerfoundry\Happiness\01 Data'

In [129]:
#Import the csv files into Jupyter as df
y_13 = pd.read_csv(os.path.join(path, 'World Happiness Report 2013.csv'))

In [130]:
#Import the csv files into Jupyter as df
y_15 = pd.read_csv(os.path.join(path, 'World Happiness Report 2015.csv'))

In [131]:
#Import the csv files into Jupyter as df
y_16 = pd.read_csv(os.path.join(path, 'World Happiness Report 2016.csv'))

In [132]:
#Import the csv files into Jupyter as df
y_17 = pd.read_csv(os.path.join(path, 'World Happiness Report 2017.csv'))

In [133]:
#Import the csv files into Jupyter as df
y_18 = pd.read_csv(os.path.join(path, 'World Happiness Report 2018.csv'))

In [134]:
#Import the csv files into Jupyter as df
y_19 = pd.read_csv(os.path.join(path, 'World Happiness Report 2019.csv'))

In [135]:
#Import the csv files into Jupyter as df
y_20 = pd.read_csv(os.path.join(path, 'World Happiness Report 2020.csv'))

In [136]:
#Import the csv files into Jupyter as df
y_21 = pd.read_csv(os.path.join(path, 'World Happiness Report 2021.csv'))

In [137]:
#Import the csv files into Jupyter as df
y_22 = pd.read_csv(os.path.join(path, 'World Happiness Report 2022.csv'))

In [138]:
#Import the csv files into Jupyter as df
y_23 = pd.read_csv(os.path.join(path, 'World Happiness Report 2023.csv'))

### Checking basic characteristics

In [139]:
y_13.shape

(156, 13)

In [140]:
y_15.shape

(158, 12)

In [141]:
y_16.shape

(157, 13)

In [142]:
y_17.shape

(155, 12)

In [143]:
y_18.shape

(156, 9)

In [144]:
y_19.shape

(156, 9)

In [145]:
y_20.shape

(153, 20)

In [146]:
y_21.shape

(149, 20)

In [147]:
y_22.shape

(146, 12)

In [148]:
y_23.shape

(137, 19)

In [149]:
y_13.head()

,Country,Region,Ladder,Social Support,Freedom,Corruption,Donation,Generosity,Positive Affect,Negative Affect,Happiness (Yesterday),GDP per capita,Healthy life expectancy
0,Afghanistan,4,4.040,0.525,0.540,0.755,0.348,0.207,0.663,0.270,0.721,979.0,36.535
1,Albania,1,5.550,0.759,0.553,0.827,0.112,-0.192,0.627,0.276,0.568,7652.0,61.417
2,Algeria,8,5.422,0.831,0.551,0.681,0.106,-0.194,0.567,0.245,0.542,7547.0,61.722
3,Angola,9,5.589,0.723,0.584,0.912,0.322,0.046,0.659,0.361,0.708,5172.0,34.601
4,Argentina,6,6.562,0.906,0.764,0.810,0.199,-0.150,0.847,0.238,0.813,14379.0,65.543

In [150]:
y_15.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [151]:
y_16.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [152]:
y_17.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [153]:
y_18.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [154]:
y_19.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [155]:
y_20.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [156]:
y_21.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [157]:
y_22.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,7.821,7.886,7.756,2.518,1.892,1.258,0.775,0.736,0.109,0.534
1,2,Denmark,7.636,7.710,7.563,2.226,1.953,1.243,0.777,0.719,0.188,0.532
2,3,Iceland,7.557,7.651,7.464,2.320,1.936,1.320,0.803,0.718,0.270,0.191
3,4,Switzerland,7.512,7.586,7.437,2.153,2.026,1.226,0.822,0.677,0.147,0.461
4,5,Netherlands,7.415,7.471,7.359,2.137,1.945,1.206,0.787,0.651,0.271,0.419

In [158]:
y_23.head()

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.804,0.036,7.875,7.733,10.792,0.969,71.150,0.961,-0.019,0.182,1.778,1.888,1.585,0.535,0.772,0.126,0.535,2.363
1,Denmark,7.586,0.041,7.667,7.506,10.962,0.954,71.250,0.934,0.134,0.196,1.778,1.949,1.548,0.537,0.734,0.208,0.525,2.084
2,Iceland,7.530,0.049,7.625,7.434,10.896,0.983,72.050,0.936,0.211,0.668,1.778,1.926,1.620,0.559,0.738,0.250,0.187,2.250
3,Israel,7.473,0.032,7.535,7.411,10.639,0.943,72.697,0.809,-0.023,0.708,1.778,1.833,1.521,0.577,0.569,0.124,0.158,2.691
4,Netherlands,7.403,0.029,7.460,7.346,10.942,0.930,71.550,0.887,0.213,0.379,1.778,1.942,1.488,0.545,0.672,0.251,0.394,2.110

In [159]:
#List column names
y_13.columns.to_list()

['Country',
 'Region',
 'Ladder',
 'Social Support',
 'Freedom',
 'Corruption',
 'Donation',
 'Generosity',
 'Positive Affect',
 'Negative Affect',
 'Happiness (Yesterday)',
 'GDP per capita',
 'Healthy life expectancy']

In [160]:
#List column names
y_15.columns.to_list()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual']

In [161]:
#List column names
y_16.columns.to_list()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Lower Confidence Interval',
 'Upper Confidence Interval',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual']

In [162]:
#List column names
y_17.columns.to_list()

['Country',
 'Happiness.Rank',
 'Happiness.Score',
 'Whisker.high',
 'Whisker.low',
 'Economy..GDP.per.Capita.',
 'Family',
 'Health..Life.Expectancy.',
 'Freedom',
 'Generosity',
 'Trust..Government.Corruption.',
 'Dystopia.Residual']

In [163]:
#List column names
y_18.columns.to_list()

['Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption']

In [164]:
#List column names
y_19.columns.to_list()

['Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption']

In [165]:
#List column names
y_20.columns.to_list()

['Country name',
 'Regional indicator',
 'Ladder score',
 'Standard error of ladder score',
 'upperwhisker',
 'lowerwhisker',
 'Logged GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Ladder score in Dystopia',
 'Explained by: Log GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption',
 'Dystopia + residual']

In [166]:
#List column names
y_21.columns.to_list()

['Country name',
 'Regional indicator',
 'Ladder score',
 'Standard error of ladder score',
 'upperwhisker',
 'lowerwhisker',
 'Logged GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Ladder score in Dystopia',
 'Explained by: Log GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption',
 'Dystopia + residual']

In [167]:
#List column names
y_22.columns.to_list()

['RANK',
 'Country',
 'Happiness score',
 'Whisker-high',
 'Whisker-low',
 'Dystopia (1.83) + residual',
 'Explained by: GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption']

In [168]:
#List column names
y_23.columns.to_list()

['Country name',
 'Ladder score',
 'Standard error of ladder score',
 'upperwhisker',
 'lowerwhisker',
 'Logged GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Ladder score in Dystopia',
 'Explained by: Log GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption',
 'Dystopia + residual']

### Dropping and renaming columns

Because of the strange data categories, and the fact that I don't have data for 2014, I decided to only work with the data from 2015.

In [169]:
y_15 = y_15.drop(columns = ['Standard Error'])

In [170]:
y_15 = y_15.drop(columns = ['Dystopia Residual'])

In [171]:
y_15 = y_15.drop(columns = ['Region'])

In [172]:
y_15.rename(columns = {'Trust (Government Corruption)' : 'Perceptions of corruption'}, inplace = True)

In [173]:
y_15.rename(columns = {'Family' : 'Social support'}, inplace = True)

In [174]:
y_15.rename(columns = {'Economy (GDP per Capita)' : 'GDP per capita'}, inplace = True)

In [175]:
y_16 = y_16.drop(columns = ['Upper Confidence Interval'])

In [176]:
y_16 = y_16.drop(columns = ['Dystopia Residual'])

In [177]:
y_16 = y_16.drop(columns = ['Region'])

In [178]:
y_16 = y_16.drop(columns = ['Lower Confidence Interval'])

In [179]:
y_16.rename(columns = {'Trust (Government Corruption)' : 'Perceptions of corruption'}, inplace = True)

In [180]:
y_16.rename(columns = {'Trust (Government Corruption)' : 'Perceptions of corruption'}, inplace = True)

In [181]:
y_16.rename(columns = {'Family' : 'Social support'}, inplace = True)

In [182]:
y_16.rename(columns = {'Economy (GDP per Capita)' : 'GDP per capita'}, inplace = True)

In [183]:
y_17 = y_17.drop(columns = ['Whisker.high'])

In [184]:
y_17 = y_17.drop(columns = ['Whisker.low'])

In [185]:
y_17 = y_17.drop(columns = ['Dystopia.Residual'])

In [186]:
y_17.rename(columns = {'Trust..Government.Corruption.' : 'Perceptions of corruption'}, inplace = True)

In [187]:
y_17.rename(columns = {'Happiness.Score' : 'Happiness Score'}, inplace = True)

In [188]:
y_17.rename(columns = {'Happiness.Rank' : 'Happiness Rank'}, inplace = True)

In [189]:
y_17.rename(columns = {'Economy..GDP.per.Capita.' : 'GDP per capita'}, inplace = True)

In [190]:
y_17.rename(columns = {'Health..Life.Expectancy.' : 'Health (Life Expectancy)'}, inplace = True)

In [191]:
y_18.rename(columns = {'Overall rank' : 'Happiness Rank'}, inplace = True)

In [192]:
y_18.rename(columns = {'Country or region' : 'Country'}, inplace = True)

In [193]:
y_18.rename(columns = {'Score' : 'Happiness Score'}, inplace = True)

In [194]:
y_18.rename(columns = {'Healthy life expectancy' : 'Health (Life Expectancy)'}, inplace = True)

In [195]:
y_19.rename(columns = {'Healthy life expectancy' : 'Health (Life Expectancy)'}, inplace = True)

In [196]:
y_19.rename(columns = {'Score' : 'Happiness Score'}, inplace = True)

In [197]:
y_19.rename(columns = {'Country or region' : 'Country'}, inplace = True)

In [198]:
y_19.rename(columns = {'Overall rank' : 'Happiness Rank'}, inplace = True)

In [199]:
y_18.rename(columns = {'Freedom to make life choices' : 'Freedom'}, inplace = True)

In [200]:
y_19.rename(columns = {'Freedom to make life choices' : 'Freedom'}, inplace = True)

In [201]:
y_17.rename(columns = {'Family' : 'Social support'}, inplace = True)

In [202]:
#List column names
y_15.columns.to_list()

['Country',
 'Happiness Rank',
 'Happiness Score',
 'GDP per capita',
 'Social support',
 'Health (Life Expectancy)',
 'Freedom',
 'Perceptions of corruption',
 'Generosity']

In [203]:
#List column names
y_16.columns.to_list()

['Country',
 'Happiness Rank',
 'Happiness Score',
 'GDP per capita',
 'Social support',
 'Health (Life Expectancy)',
 'Freedom',
 'Perceptions of corruption',
 'Generosity']

In [204]:
#List column names
y_17.columns.to_list()

['Country',
 'Happiness Rank',
 'Happiness Score',
 'GDP per capita',
 'Social support',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Perceptions of corruption']

In [205]:
#List column names
y_18.columns.to_list()

['Happiness Rank',
 'Country',
 'Happiness Score',
 'GDP per capita',
 'Social support',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Perceptions of corruption']

In [206]:
#List column names
y_19.columns.to_list()

['Happiness Rank',
 'Country',
 'Happiness Score',
 'GDP per capita',
 'Social support',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Perceptions of corruption']

In [207]:
#List column names
y_20.columns.to_list()

['Country name',
 'Regional indicator',
 'Ladder score',
 'Standard error of ladder score',
 'upperwhisker',
 'lowerwhisker',
 'Logged GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Ladder score in Dystopia',
 'Explained by: Log GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption',
 'Dystopia + residual']

In [208]:
y_20 = y_20.drop(columns = ['Regional indicator', 'Ladder score', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Dystopia + residual'])

In [209]:
y_20.head()

,Country name,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

In [210]:
#List column names
y_21.columns.to_list()

['Country name',
 'Regional indicator',
 'Ladder score',
 'Standard error of ladder score',
 'upperwhisker',
 'lowerwhisker',
 'Logged GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Ladder score in Dystopia',
 'Explained by: Log GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption',
 'Dystopia + residual']

In [211]:
y_21 = y_21.drop(columns = ['Regional indicator', 'Ladder score', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Dystopia + residual'])

In [212]:
#List column names
y_22.columns.to_list()

['RANK',
 'Country',
 'Happiness score',
 'Whisker-high',
 'Whisker-low',
 'Dystopia (1.83) + residual',
 'Explained by: GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption']

In [213]:
y_22 = y_22.drop(columns = ['Whisker-high', 'Whisker-low', 'Dystopia (1.83) + residual'])

In [214]:
#List column names
y_23.columns.to_list()

['Country name',
 'Ladder score',
 'Standard error of ladder score',
 'upperwhisker',
 'lowerwhisker',
 'Logged GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Ladder score in Dystopia',
 'Explained by: Log GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption',
 'Dystopia + residual']

In [215]:
y_23 = y_23.drop(columns = ['Ladder score', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Dystopia + residual'])

In the post-2020 data, the "Explained by..." categories are in the same format like life expectancy, social suppoert, freedom, etc in the former data. For consistency purposes, I keep and rename these categories, and drop the others.

In [216]:
y_20.head()

,Country name,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

In [217]:
y_15.head()

,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Perceptions of corruption,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [218]:
y_20 = y_20.drop(columns = ['Logged GDP per capita', 'Ladder score in Dystopia', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption' ])

In [219]:
y_20.head()

,Country name,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

In [220]:
y_19.head()

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [221]:
y_20.rename(columns = {'Country name' : 'Country', 'Explained by: Log GDP per capita' : 'GDP per capita', 'Explained by: Social support' : 'Social support', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices' : 'Freedom',  'Explained by: Generosity' : 'Generosity', 'Explained by: Perceptions of corruption' : 'Perceptions of corruption' }, inplace = True)

In [222]:
y_20.head()

,Country,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,Finland,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

In [223]:
y_21.head()

,Country name,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481
1,Denmark,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485
2,Switzerland,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413
3,Iceland,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170
4,Netherlands,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384

In [224]:
y_21 = y_21.drop(columns = ['Logged GDP per capita', 'Ladder score in Dystopia', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption' ])

In [225]:
y_21.rename(columns = {'Country name' : 'Country', 'Explained by: Log GDP per capita' : 'GDP per capita', 'Explained by: Social support' : 'Social support', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices' : 'Freedom',  'Explained by: Generosity' : 'Generosity', 'Explained by: Perceptions of corruption' : 'Perceptions of corruption' }, inplace = True)

In [226]:
y_21.head()

,Country,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,Finland,1.446,1.106,0.741,0.691,0.124,0.481
1,Denmark,1.502,1.108,0.763,0.686,0.208,0.485
2,Switzerland,1.566,1.079,0.816,0.653,0.204,0.413
3,Iceland,1.482,1.172,0.772,0.698,0.293,0.170
4,Netherlands,1.501,1.079,0.753,0.647,0.302,0.384

In [227]:
y_22.head()

,RANK,Country,Happiness score,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534
1,2,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532
2,3,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191
3,4,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461
4,5,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419

In [228]:
y_22.rename(columns = {'RANK' : 'Happiness Rank', 'Happiness score': 'Happiness Score' , 'Explained by: GDP per capita' : 'GDP per capita', 'Explained by: Social support' : 'Social support', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices' : 'Freedom',  'Explained by: Generosity' : 'Generosity', 'Explained by: Perceptions of corruption' : 'Perceptions of corruption' }, inplace = True)

In [229]:
y_22.head()

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534
1,2,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532
2,3,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191
3,4,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461
4,5,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419

In [230]:
y_23.head()

,Country name,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,10.792,0.969,71.150,0.961,-0.019,0.182,1.778,1.888,1.585,0.535,0.772,0.126,0.535
1,Denmark,10.962,0.954,71.250,0.934,0.134,0.196,1.778,1.949,1.548,0.537,0.734,0.208,0.525
2,Iceland,10.896,0.983,72.050,0.936,0.211,0.668,1.778,1.926,1.620,0.559,0.738,0.250,0.187
3,Israel,10.639,0.943,72.697,0.809,-0.023,0.708,1.778,1.833,1.521,0.577,0.569,0.124,0.158
4,Netherlands,10.942,0.930,71.550,0.887,0.213,0.379,1.778,1.942,1.488,0.545,0.672,0.251,0.394

In [231]:
y_23 = y_23.drop(columns = ['Logged GDP per capita', 'Ladder score in Dystopia', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption' ])

In [232]:
y_23.rename(columns = {'Country name' : 'Country', 'Explained by: Log GDP per capita' : 'GDP per capita', 'Explained by: Social support' : 'Social support', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices' : 'Freedom',  'Explained by: Generosity' : 'Generosity', 'Explained by: Perceptions of corruption' : 'Perceptions of corruption' }, inplace = True)

In [233]:
y_23.head()

,Country,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,Finland,1.888,1.585,0.535,0.772,0.126,0.535
1,Denmark,1.949,1.548,0.537,0.734,0.208,0.525
2,Iceland,1.926,1.620,0.559,0.738,0.250,0.187
3,Israel,1.833,1.521,0.577,0.569,0.124,0.158
4,Netherlands,1.942,1.488,0.545,0.672,0.251,0.394

### Creating a table containing all yearly happiness data

In [234]:
#create a year column with the respective year in each table
y_15['Year']= 2015
y_16['Year']= 2016
y_17['Year']= 2017
y_18['Year']= 2018
y_19['Year']= 2019
y_20['Year']= 2020
y_21['Year']= 2021
y_22['Year']= 2022
y_23['Year']= 2023

In [235]:
#Create a list of dataframes
tables = [y_15, y_16, y_17, y_18, y_19, y_20, y_21, y_22, y_23]

In [236]:
#Use pd.concat() to concatenate them vertically (union) 
happiness = pd.concat(tables, ignore_index=True)

In [237]:
happiness.head(30)

,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Perceptions of corruption,Generosity,Year
0,Switzerland,1.0,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2.0,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3.0,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4.0,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5.0,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
5,Finland,6.0,7.406,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2015
6,Netherlands,7.0,7.378,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2015
7,Sweden,8.0,7.364,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2015
8,New Zealand,9.0,7.286,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2015
9,Australia,10.0,7.284,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2015
10,Israel,11.0,7.278,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,2015
11,Costa Rica,12.0,7.226,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,2015
12,Austria,13.0,7.200,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2015
13,Mexico,14.0,7.187,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,2015
14,United States,15.0,7.119,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2015
15,Brazil,16.0,6.983,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,2015
16,Luxembourg,17.0,6.946,1.56391,1.21963,0.91894,0.61583,0.37798,0.28034,2015
17,Ireland,18.0,6.940,1.33596,1.36948,0.89533,0.61777,0.28703,0.45901,2015
18,Belgium,19.0,6.937,1.30782,1.28566,0.89667,0.58450,0.22540,0.22250,2015
19,United Arab Emirates,20.0,6.901,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2015
20,United Kingdom,21.0,6.867,1.26637,1.28548,0.90943,0.59625,0.32067,0.51912,2015
21,Oman,22.0,6.853,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2015
22,Venezuela,23.0,6.810,1.04424,1.25596,0.72052,0.42908,0.11069,0.05841,2015
23,Singapore,24.0,6.798,1.52186,1.02000,1.02525,0.54252,0.49210,0.31105,2015
24,Panama,25.0,6.786,1.06353,1.19850,0.79661,0.54210,0.09270,0.24434,2015
25,Germany,26.0,6.750,1.32792,1.29937,0.89186,0.61477,0.21843,0.28214,2015
26,Chile,27.0,6.670,1.10715,1.12447,0.85857,0.44132,0.12869,0.33363,2015
27,Qatar,28.0,6.611,1.69042,1.07860,0.79733,0.64040,0.52208,0.32573,2015
28,France,29.0,6.575,1.27778,1.26038,0.94579,0.55011,0.20646,0.12332,2015
29,Argentina,30.0,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2015

In [238]:
happiness.tail(30)

,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Perceptions of corruption,Generosity,Year
1337,Pakistan,NaN,NaN,1.081,0.657,0.158,0.511,0.102,0.141,2023
1338,Niger,NaN,NaN,0.561,0.628,0.137,0.540,0.140,0.154,2023
1339,Tunisia,NaN,NaN,1.333,0.981,0.422,0.259,0.016,0.022,2023
1340,Kenya,NaN,NaN,1.051,0.881,0.190,0.418,0.055,0.291,2023
1341,Sri Lanka,NaN,NaN,1.422,1.224,0.426,0.539,0.086,0.120,2023
1342,Uganda,NaN,NaN,0.785,1.144,0.201,0.425,0.051,0.197,2023
1343,Chad,NaN,NaN,0.622,0.962,0.043,0.393,0.088,0.255,2023
1344,Cambodia,NaN,NaN,1.025,1.024,0.283,0.768,0.051,0.176,2023
1345,Benin,NaN,NaN,0.924,0.242,0.124,0.481,0.253,0.114,2023
1346,Myanmar,NaN,NaN,1.032,1.125,0.269,0.460,0.194,0.400,2023
1347,Bangladesh,NaN,NaN,1.133,0.513,0.355,0.617,0.165,0.139,2023
1348,Gambia,NaN,NaN,0.761,0.614,0.174,0.286,0.033,0.332,2023
1349,Mali,NaN,NaN,0.763,0.637,0.106,0.441,0.059,0.121,2023
1350,Egypt,NaN,NaN,1.377,0.972,0.326,0.467,0.250,0.038,2023
1351,Togo,NaN,NaN,0.770,0.642,0.161,0.367,0.136,0.149,2023
1352,Jordan,NaN,NaN,1.292,0.980,0.438,0.517,0.173,0.056,2023
1353,Ethiopia,NaN,NaN,0.793,1.114,0.250,0.451,0.101,0.283,2023
1354,Liberia,NaN,NaN,0.628,0.644,0.141,0.471,0.071,0.219,2023
1355,India,NaN,NaN,1.159,0.674,0.252,0.685,0.111,0.175,2023
1356,Madagascar,NaN,NaN,0.632,0.779,0.178,0.187,0.134,0.177,2023
1357,Zambia,NaN,NaN,0.914,0.890,0.095,0.545,0.080,0.189,2023
1358,Tanzania,NaN,NaN,0.836,0.787,0.214,0.607,0.269,0.234,2023
1359,Comoros,NaN,NaN,0.914,0.327,0.215,0.117,0.145,0.129,2023
1360,Malawi,NaN,NaN,0.637,0.479,0.189,0.490,0.129,0.139,2023
1361,Botswana,NaN,NaN,1.471,1.041,0.087,0.480,0.071,0.021,2023
1362,Congo (Kinshasa),NaN,NaN,0.531,0.784,0.105,0.375,0.068,0.183,2023
1363,Zimbabwe,NaN,NaN,0.758,0.881,0.069,0.363,0.117,0.112,2023
1364,Sierra Leone,NaN,NaN,0.670,0.540,0.092,0.371,0.051,0.193,2023
1365,Lebanon,NaN,NaN,1.417,0.476,0.398,0.123,0.027,0.061,2023
1366,Afghanistan,NaN,NaN,0.645,0.000,0.087,0.000,0.059,0.093,2023

In [239]:
happiness.shape

(1367, 10)

### Consistency check

In [240]:
#Looking for mixed type data
for col in happiness.columns.tolist():
  weird = (happiness[[col]].applymap(type) != happiness[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (happiness[weird]) > 0:
    print (col)

No mixed type data was found.

### Checking for missing values and duplicates

In [242]:
#Checking for missing values
happiness.isnull().sum()

Country                        0
Happiness Rank               439
Happiness Score              439
GDP per capita                 0
Social support                 0
Health (Life Expectancy)       1
Freedom                        0
Perceptions of corruption      1
Generosity                     0
Year                           0
dtype: int64

Happiness Rank and Score was not collecter in each year, that's why there is missing data. By the moment I leave it this way.

In [243]:
df_dups = happiness[happiness.duplicated()]

In [244]:
#Addressing duplicates
happiness_clean = happiness.drop_duplicates()

No duplicate was found

In [245]:
happiness_clean.describe()

,Happiness Rank,Happiness Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Perceptions of corruption,Generosity,Year
count,928.000000,928.000000,1367.000000,1367.000000,1366.000000,1367.000000,1366.000000,1367.000000,1367.000000
mean,77.880388,5.406481,1.019422,1.045334,0.584043,0.450771,0.132275,0.196260,2018.903438
std,44.757861,1.122392,0.453703,0.331163,0.245117,0.156733,0.112555,0.113301,2.561006
min,1.000000,2.404000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,39.000000,4.534750,0.696326,0.832022,0.402301,0.356000,0.056826,0.115000,2017.000000
50%,78.000000,5.377000,1.043000,1.083000,0.612830,0.467610,0.097000,0.182700,2019.000000
75%,116.250000,6.218750,1.338473,1.299985,0.777614,0.568685,0.165945,0.252858,2021.000000
max,158.000000,7.821000,2.209000,1.644000,1.141000,0.772000,0.587000,0.838075,2023.000000

In [246]:
happiness_clean.dtypes

Country                       object
Happiness Rank               float64
Happiness Score              float64
GDP per capita               float64
Social support               float64
Health (Life Expectancy)     float64
Freedom                      float64
Perceptions of corruption    float64
Generosity                   float64
Year                           int64
dtype: object

In [247]:
happiness_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1367 entries, 0 to 1366
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    1367 non-null   object
 1   Happiness Rank             928 non-null    float64
 2   Happiness Score            928 non-null    float64
 3   GDP per capita             1367 non-null   float64
 4   Social support             1367 non-null   float64
 5   Health (Life Expectancy)   1366 non-null   float64
 6   Freedom                    1367 non-null   float64
 7   Perceptions of corruption  1366 non-null   float64
 8   Generosity                 1367 non-null   float64
 9   Year                       1367 non-null   int64
dtypes: float64(8), int64(1), object(1)
memory usage: 117.5+ KB

In [248]:
happiness_clean.to_csv(os.path.join(path,'Prepared Data', 'happiness_checked.csv'))